/* src/styles/EditProfile.styles.css */
.edit-profile-layout {
  min-height: 100vh;
}

.edit-profile-content-layout {
  padding: 24px;
}

.edit-profile-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.edit-profile-container {
  max-width: 600px;
  margin: 0 auto;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
}

.edit-profile-form label {
  margin-bottom: 5px;
}

.edit-profile-form input,
.edit-profile-form textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-profile-form button[type="submit"] {
  padding: 10px 15px;
  background-color: #8809FF33;
  color: white;
  border: 1px solid #8809FF80; /* 보더 추가 */
  border-radius: 4px;
  cursor: pointer;
  align-self: center; /* 버튼 가운데 정렬 */
  width: fit-content; /* 버튼 내용에 맞게 너비 조정 */
}

.edit-profile-form button[type="submit"]:hover {
  background-color: #8809FF80;
  border: 1px solid #8809FF33; /* hover 시 보더 색상 변경 */
}