.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.question {
  text-align: center;
}

.start-btn {
  background-color: black !important; /* 기본 검정색 강제 적용 */
  color: white !important; /* 텍스트 흰색 */
  padding: 10px 20px;
  height: 40px;
  width: fit-content;
  border: 1px solid black !important;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: none !important; /* 버튼이 움직이지 않도록 */
}

.start-btn:hover {
  background-color: #222 !important; /* 호버 시 더 어두운 검정 */
  border-color: #222 !important;
}




.input-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.input-section textarea {
  padding: 10px;
  font-size: 16px;
  width: 600px;
  min-height: 50px;
  max-height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: start;
  resize: none;
  overflow-y: hidden;
}
