.main-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-content {
  text-align: center;
  position: relative;
  width: 100%;
}

.start-btn {
  background-color: black !important;
  color: white !important;
  padding: 10px 20px;
  height: 40px;
  width: fit-content;
  border: 1px solid black !important;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 50px;
  transform: translate(-50%, -50%);
  box-shadow: none !important;
  margin-top: 24px;
}

.start-btn:hover {
  background-color: #222 !important;
  border-color: #222 !important;
}

.description-section {
  background-color: #f9f9f9;
  margin-top: 80px;
  padding-bottom: 80px;
}

.description-section h4 {
  font-weight: bold;
  margin-bottom: 16px;
}

.description-section p {
  line-height: 1.6;
  color: #444;
}
