.box {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  .signup-btn {
    margin-top: 39px;
    margin-left: 1267px;
    height: 52px;
    left: 0;
    position: fixed;
    top: 0;
    width: 131px;
  }
  
  .signup-btn:focus {
    outline: none;
  }
  
  .overlap-group {
    background-image: url(../assets/rectangle-1.svg);
    background-size: 100% 100%;
    height: 52px;
    position: relative;
    width: 129px;
    color: black; /* 기본 색상 설정 */
  }
  
  .signup-btn:hover .overlap-group {
    color: #7A3E9D; /* 마우스 오버 시 색상 변경 */
  }
  
  .overlap {
    background-color: #ffffff;
    border-radius: 20.5px / 20.51px;
    height: 41px;
    left: 84px;
    position: absolute;
    top: 6px;
    width: 41px;
  }
  
  .vuesax-linear-arrow {
    height: 24px !important;
    left: 9px !important;
    position: absolute !important;
    top: 8px !important;
    width: 24px !important;
    transition: color 0.3s ease; /* 색상 변화에 부드러운 전환 추가 */
    color: black; /* 기본 색상 설정 */
  }
  
  .vuesax-linear-arrow:hover {
    color: #7A3E9D; /* 마우스 오버 시 SVG 색상 변경 */
  }
  
  .text-wrapper {
    color: #000000;
    font-family: "Inter-MediumItalic", Helvetica;
    font-size: 19px;
    font-style: italic;
    font-weight: 500;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 63px;
  }
  